{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/reg.css' %}">
   </head>
<body>
  <div class="container">
    <div class="title">Registration</div>

    <div class="content">
      <form method="post" action="regdata">
          {% csrf_token %}
        <div class="user-details">
          <div class="input-box">
            <span class="details">Full Name</span>
            <input type="text" placeholder="Enter your name" name="txtname" required>
          </div>
          <div class="input-box">
            <span class="details">Email</span>
            <input type="email" placeholder="Enter your email" name="txtemail" required>
          </div>
          <div class="input-box">
            <span class="details">Password</span>
            <input type="password" placeholder="Enter your password" name="txtpwd" required>
          </div>
        </div>
        <div class="button">
          <input type="submit" value="Register">
        </div>
          <div>
              <h4 align="center" style="color:red">{{data}}</h4>
          </div>
      </form>
    </div>
  </div>
</body>
</html>
